* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3px 50px;
  background-color: blanchedalmond;
}

.image-gallery {
  margin: 0 auto;
  border: 5px solid grey;
  width: 934px;
  height: auto;
}

.fullview {
  height: 624px;
overflow: hidden;
border-bottom: 5px solid grey;
background-size: cover;
background-repeat: no-repeat;
}

img {
  max-width: 100%;
  display: block;
  border: 2px solid grey;
  cursor: pointer;
}
 /* img:active {
  border: 2px solid red;
 } */

.img-active {
  border: 2px solid red;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

