/*
   Import partials below
*/
@import './normalize';

.wrapper {
  padding: 20px;
}

.form {
  text-align: center;
  margin-bottom: 50px;
}

.input {
  width: 350px;
  height: 40px;
  box-sizing: border-box;
}

.button {
  width: 120px;
  height: 40px;
  background-color: rgb(250, 117, 190);
  border: none;
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 250px;
  height: 250px;
  position: relative;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid grey;
  font-size: 12px;
  overflow: hidden;
  
}

.img-wrap {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}

h2 {
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-height: 20px;
  max-height: 20px;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 15px;
  max-height: 60px;
}

.del-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  right: 3px;
  background-image: url(/images/clear-button.png);
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}